@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

section {
    background-size: cover;
    margin: 16vh 1vh 6vh 1vh;
    animation: smoothslide 5.5s infinite ease-in;
    display: flex;
    justify-content: center;
}

body {
    overflow-x: hidden;
}

section div {
    background-color: rgba(64, 55, 55, 0.247);
    display: flex;
    font-size: 2.3vh;
    font-weight: 900;
    user-select: none;
    font-family: monospace;
    color: rgb(0, 0, 0);
    text-shadow: 1px 1px 5px rgb(255, 255, 255);
    padding: 2vh 6vh 2vh 6vh;
    align-items: center;
    width: 55vw;
    height: max-content;
    border-radius: 1vh;
}

@keyframes smoothslide {
    0% {
        opacity: 20%;
        margin-right: -10%;
    }
    20% {
        opacity: 100%;
    }
    50% {
        margin-right: 0%;
    }
    90% {
        opacity: 60%;
    }
    100% {
        opacity: 10%;
        margin-left: 10%;
    }
}

@media (max-width: 500px) {
    section div {
        font-size: 1.8vh;
    }
}